@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #333333;
    --background: #ffffff;
    --primary: #ab0169;
    --secondary: #ffeed1;
    --accent: #f67423;
    --footer: #f4f4f4;

    --font-sans: Helvetica, sans-serif;
  }
  .dark {
    --text: #cccccc;
    --background: #000000;
    --primary: #fe52bc;
    --secondary: #2e1d00;
    --accent: #dc5a09;
    --footer: #0a0a0a;
  }
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}
