@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #515154;
	--subtle: #78777E;
	--border: #AEA9B1;
    --background: #FFFFFF;
	--footer: #F4F4F4;
    --primary: #AB0169;
    --secondary: #FFEED1;
    --accent: #F67423;
    --font-sans: 'DM Sans', Helvetica, sans-serif;
	--radius: 0.5rem;
  }
  .dark {
    --text: #CCCCCC;
	--subtle: #B3B3B3;
	--border: #404045;
    --background: #1C1C1F;
	--footer: #232326;
    --primary: #EF5DA0;
    --secondary: #4E3A23;
    --accent: #FF8C47;
  }
}

@layer base {
  body {
    @apply bg-background text-text font-sans;
  }
}